{% extends "base.html" %}
{% import "macro.html" as macro %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{super()}}  Bienvenida {% endblock %}
    <!--Este codigo lo que hace es validar si la ip del usuario existe o contiene algo si es asi muestra el mensaje
    si no le muestra un link para que lo redireccione al inicio y caputre la ip y la guarde en la cookie-->
    {% block content %}
    {% if username %}
        <h1>Bienvenido  {{username | capitalize  }} </h1>
    {% endif %}

    {% if user_ip %}
    <h2>Hola jugador tu ip es {{ user_ip }}</h2>
    {% else %}
    <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

        <div class="container">
           <h2>Crea un nuevo To Do</h2> 

           {{ wtf.quick_form(todo_form) }}
        </div>
        <br>
    <ul class="list-group">
        {% for todo in todos %}
            {{ macro.render_todo(todo, delete_form, update_form) }}
        {% endfor %}
    </ul>
{% endblock %}
